@model List<EducationApplication.ViewModel.ViewModels.Certificate.CertificatesVM>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_EducationLayout.cshtml";
}

<link href="~/lib/bootstrap/dist/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<div class="row mrg-top30">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5>Certificate List</h5>
            </div>
            <div class="card-body">
                <!--tables-->
                <div class="table-responsive">
                    <table id="example" class="table table-striped dt-responsive nowrap"
                           style="width: 100%; cellspacing: 0;">
                        <thead>
                            <tr>
                                <th>Student Name</th>
                                <th>School Name</th>
                                <th>Student ID</th>
                                <th>Certificate Type</th>
                                <th>Status</th>
                                <th>Settings</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Student Name</th>
                                <th>School Name</th>
                                <th>Student ID</th>
                                <th>Certificate Type</th>
                                <th>Status</th>
                                <th>Settings</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach(var item in Model)
            {
                            <tr>
                                <td>@item.FullName</td>
                                <td>University of Westminister</td>
                                <td>@item.PINFL</td>
                                <td>@item.CertificateType</td>
                                <td style="color:green">Valid</td>
                                <td>
                                    <button class="btn btn-info">View</button>
                                </td>
                            </tr>
            }
                            @*<tr>
                                <td>Endy Garfild</td>
                                <td>University of Westminister</td>
                                <td>2001100</td>
                                <td>University</td>
                                <td style="color:green">Valid</td>
                                <td>
                                    <button class="btn btn-info">View</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>TUIT</td>
                                <td>2000010</td>
                                <td>University</td>
                                <td style="color:red">Finished</td>
                                <td>
                                    <button class="btn btn-info">View</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>TUIT</td>
                                <td>2000010</td>
                                <td>University</td>
                                <td style="color:blue">N/A</td>
                                <td>
                                    <button class="btn btn-warning">Assign</button>
                                </td>
                            </tr>*@
                        </tbody>
                    </table>
                </div>
                <!----->
            </div>
            <!---->
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/datatable.js"></script>
<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>
