.vs/*
packages*/*
/obj/*
/bin/*

EducationApplication/logs/*
EducationApplication/Uploads/
EducationApplication.Model/bin/
EducationApplication.Model/obj/*
EducationApplication.Model/*.cs
.vs/EducationApplication/v16/.suo
EducationApplication.API/bin/Debug/net5.0/EducationApplication.API.dll
EducationApplication.API/bin/Debug/net5.0/EducationApplication.API.exe
EducationApplication.API/bin/Debug/net5.0/EducationApplication.API.pdb
EducationApplication.API/bin/Debug/net5.0/EducationApplication.API.runtimeconfig.dev.json
*.exe
EducationApplication.API/obj/Debug/net5.0/EducationApplication.API.AssemblyInfo.cs
EducationApplication.API/obj/Debug/net5.0/EducationApplication.API.assets.cache
*.dll
EducationApplication.Data/bin/Debug/net5.0/EducationApplication.Data.deps.json
EducationApplication.Data/bin/Debug/net5.0/EducationApplication.Data.runtimeconfig.dev.json
EducationApplication.Data/obj/Debug/net5.0/EducationApplication.Data.AssemblyInfo.cs
EducationApplication.Data/obj/Debug/net5.0/EducationApplication.Data.assets.cache
*.cache
