<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="~/lib/bootstrap/dist/css/bundle.css" rel="stylesheet" />
    <link href="~/css/bundle.css" rel="stylesheet" />

    <script src="~/lib/jquery/dist/bundle.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

</head>
<body>
    @Html.Partial("_Header")
    <div class="page-sidebar bkcolor-white">
        <div class="page-sidebar__menu">
            <div class="page-sidebar__inner">
                <!--header-->
                <div class="sidebar-header">
                    <div class="sidebar-header__profile">
                        <a href="#" id="profile-menu-link">
                            <div class="sidebar-profile-image">
                                <img src="~/image/avatar.png" class="img-circle img-responsive" alt="" />
                            </div>
                            <div class="sidebar-profile-details">
                                <span>Elon musk<br><small>Art Director</small></span>
                            </div>
                        </a>
                    </div>
                </div>
                <!--menu-->
                <ul class="sidebar-menu">
                    <li>
                        <a href="#" class="">
                            <span class="fa fa-shopping-cart sidebar-menu__icon"></span>
                            <p>Payments</p>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="">
                            <span class="fa fa-money sidebar-menu__icon"></span>
                            <p>Grants</p>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="">
                            <span class="fa fa-file-o sidebar-menu__icon"></span>
                            <p>Certificates</p>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="">
                            <span class="fa fa-graduation-cap sidebar-menu__icon"></span>
                            <p>School</p>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="">
                            <span class="fa fa-sign-in sidebar-menu__icon"></span>
                            <p>Log out</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!--login page-->
    <div class="main">
        @RenderBody()
    </div>

</body>
</html>
