<header class="main-header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-menu navbar-menu-padding">
        <!--<div class="container">-->
        <a href="" class="navbar-brand navbar-menu__temp">
            @*<img src="image/logo.png" alt="" srcset="" class="navbar-menu__logo img-responsive">*@
            <!--University-->
            <img src="~/image/iconhat.png" alt="" srcset=""  class="navbar-menu__logo img-responsive"/>
        </a>
        <div class="collapse navbar-collapse navbar-items">
            <ul class="navbar-nav mr-auto navbar-items__list">
                <li class="nav-item"><a href="" class="nav-link">Home page</a></li>
                <li class="nav-item"><a href="" class="nav-link">About</a></li>
                <li class="nav-item"><a href="" class="nav-link">Contact Info</a></li>
                @*<li class="nav-item"><a href="" class="nav-link">Intranet</a></li>*@
            </ul>
            <ul class="navbar-nav absolute-right navbar-items__login">
                <!--dropdown-->
                <li class="dropdown drop-main">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="user-name">Elon <!--<i class="fa fa-angle-down"></i>--></span>
                        @*<img class="img-circle avatar" src="image/avatar_11.jpg" width="40" height="40" alt="">*@
                       <img src="~/image/avatar.png" class="img-circle avatar"  width="40" height="40" alt=""/>
                    </a>
                    <ul class="dropdown-menu dropdown-list dropdown-top" role="menu">
                        <li role="presentation">
                            <a href="#"><i class="fa fa-user"></i>Profile</a>
                        </li>
                        <li role="presentation">
                            <a href="#">
                                <i class="fa fa-calendar"></i>Calendar
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#">
                                <i class="fa fa-envelope"></i>Inbox<span class="badge badge-success pull-right">4</span>
                            </a>
                        </li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation">
                            <a href="#">
                                <i class="fa fa-sign-out m-r-xs"></i>Log
                                out
                            </a>
                        </li>
                    </ul>
                </li>
                <!---->
                <li class="login">
                    <a href="#">
                        Login
                    </a>
                    /
                    <a href="#">
                        Register
                    </a>
                </li>
            </ul>
        </div>
        <!--side menu-->
        <!--</div>-->
    </nav>
</header>
